.caroosela {
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 750px) {
  .caroosela {
    display: none;
  }
}

img {
  width: 100vw;
  object-fit: center;
  overflow: hidden;
  height: 100%;
}

.head-carousel,
p {
  color: black;
  font-size: 5rem;
  font-weight: bold;
}
.head-carousel3 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
}

p {
  font-size: 2.5rem;
}

.p-carousel3 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}
