.signUp-section {
  margin: 0 auto;
  margin-top: 10vh;
  width: 50vw;
  background-color: rgb(239, 237, 237);
  border-radius: 20px;
  /* border: 1px solid black; */
  padding: 3rem;
}

@media (max-width: 900px) {
  .signUp-section {
    min-width: 90vw;
    margin-top: 2rem;
  }
  .signUp-section form input {
    min-width: 50vw;
  }
  .signUp-button {
    min-width: 30vw;
  }
}

.alrdy-have-accnt-p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
}
.alrdy-have-accnt-p span {
  font-weight: bold;
}
.signUp-h2 {
  margin-bottom: 2rem;
}

.signUp-section form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.signUp-section form input {
  width: 20vw;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 10px;
}

.admin-box {
  display: flex;
  flex-direction: row;
  width: 20vw;
  margin: 0 auto;
  padding-left: 2rem;
  /* justify-content: space-between; */
  /* gap: 0.1rem; */
}

.signUp-button {
  background-color: black;
  margin: 0 auto;
  width: 20vw;
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  margin-top: 2rem;
  border-radius: 10px;
}

.signUp-button:hover {
  box-shadow: 2px 2px 20px 1px black;
  cursor: pointer;
}
