.header-div {
  background-color: rgb(142, 140, 140);
  margin-bottom: 5rem;
  max-width: 100vw;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 20vh;
  z-index: 2;
  overflow: hidden;
  padding-left: 3rem;
}

.head-sec {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 2rem;
  width: 100vw;
}

@media (max-width: 750px) {
  .header-div {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .head-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
}

@media (max-width: 750px) {
  .left-head {
    display: none;
  }
}
@media (max-width: 750px) {
  .right-head {
    display: none;
  }
}

ul {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  list-style-type: none;
  align-items: center;
  margin: 0 auto;
}

.logo-head {
  font-size: 3rem;
  font-weight: bold;
  margin: 10px;
  align-items: center;
  margin: 0 auto;
  margin-top: -1rem;
}

@media (max-width: 750px) {
  .logo-head {
    text-align: right;
  }
}

.burger-div {
  display: none;
}

@media (max-width: 750px) {
  .burger-div {
    display: block;
  }
}

.search-bar {
  display: flex;
  width: 100vw;
  height: 6vh;
  flex-direction: row;
  justify-content: center;
  padding: 1.5vw;
  align-items: center;
  margin: 0 auto;
  margin-top: 5px;
  margin: 0 auto;
  width: 100vw;
  background-color: rgb(239, 237, 237);
}

@media (max-width: 750px) {
  .search-bar {
    display: none;
  }
}
.header-icon {
  margin: 0 auto;
  font-size: 1.3rem;
}

/* @media (max-width: 750px) {
  .header-icon {
    display: none;
  }
} */

/* .login-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  border: 1px solid black;
  padding: 0px;
  display: block;
  z-index: 30;
  width: 5vw;
  display: none;
} */

.head-sec li {
  cursor: pointer;
  font-size: 1.7rem;
}
.head-sec li:hover {
  border-bottom: solid grey;
}
.head-sec a {
  text-decoration: none;
  color: inherit;
}

.head-sec a:hover {
  text-decoration: none;
  color: inherit;
}

.head-sec a:visited {
  text-decoration: none;
  color: inherit;
}

.right-list li {
  cursor: pointer;
  font-size: 1.7rem;
}
.right-list a {
  text-decoration: inherit;
}
.right-list a:hover {
  border-bottom: solid grey;
  color: inherit;
}
a {
  text-decoration: inherit;
}

.left-list li {
  cursor: pointer;
  font-size: 1.7rem;
}
