.wish-list-h5 {
  width: 30vw;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.wishList-section {
  background-color: rgb(206, 205, 205);
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 0 auto; */
}

.wishList-section a {
  font-weight: bold;
  font-size: 1.5rem;
}
.wishList-section button {
  border: none;
}

.wish-list {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 0;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .wishList-item {
    display: flex;
    flex-direction: column;
  }
}

.wishList-item {
  border: 0.1px solid black;
  background-color: rgb(239, 237, 237);
  width: 90%;
  /* height: 200px; */
  padding: 2rem;
  border-radius: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  margin: 0 auto;
}

.wish-list img {
  width: 20vw;
  object-fit: contain;
  border-radius: 10px;
  transition: 0.3s;
}

.wish-list img:hover {
  transform: scale(1.1);
}

.wish-list p {
  font-size: 1rem;
}

.btns-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btns-div button {
  background-color: black;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1rem;
  font-weight: bold;
  color: white;
  margin-top: 2rem;
}
.btns-div button:hover {
  box-shadow: 2px 2px 20px 1px white;
  cursor: pointer;
}
